body {
  background-color: rgb(211, 186, 153) !important;
  padding-left: 100px;
  padding-right: 100px;
}

h1 {
  font-size: 54px;
  text-align: center;
  padding-top: 50px;
}
.row {
  padding: 30px;
}
p {
  display: block;
  margin: 0 auto;
  text-align: center;
}
a {
  color: brown !important;
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline !important;
}
#croissant-img {
  display: block;
  margin: 0 auto;
  width: 500px;
}
